@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --color0: #fff;
    --color1: #f4f4f4;
    --color2: #e3e0db;
    --color3: #dedede;
    --color4: #000;
    --color5: #00000013;
    --uv0: #32e7e7;
    --uv1: #81e733;
    --uv2: #ff8f10;
    --uv3: #ff1030;
    --uv4: #ff11b7;
    --accent: #ff11b7;
    --maxWidth: 600px;
    --basic-pad: 1rem;
    --basic-pad-sm: 0.4rem;
    --basic-pad-lg: 2.0rem;

    --h2: 15.6rem;
    --line-height:0.8;
    --bar-width: 45px;
    --bar-height:160px;
}
body {
    background-color: var( --color1 );
    width: 100vw;
}
.debugA { border: 2px solid red;}
.debugB { border: 2px solid greenyellow;}
.debugC { border: 2px solid blue;}
.debugE { background-color: red;}

button { cursor: pointer; }
h1 { font-size: 2.2rem; }
h2 { font-size: var(--h2); }
h3 { font-size: 4.3rem; }
h4 { font-size: 2.5rem; }
.p1{ font-size: 1.9rem; }
.p2{ font-size: 1.5rem; }
.p3{ font-size: 1.25rem; }
.p4{ font-size: 1rem; }
.light {font-weight: 300; }
.reg {font-weight: 400; }
.bold {font-weight: 600; }
.black {font-weight: 700; }
.italic{ font-style: italic; }
.short { line-height: var(--line-height); }
.max-width { width: var( --maxWidth );}
.min-width { width: fit-content;}
.time { height: 2rem; }
.min-height { height: min-content; }
.fix-height { height: 60px; }
.wide {width: 100%;}
.height-60 { height: 60vh;}
.gap { gap: 1.5rem; }
.gap-sm{ gap: 0.6rem;}
.wrap { flex-wrap: wrap; }
.icon-lg { width: 70px; }
.icon-md { width: 40px; }
.icon-sm {
    aspect-ratio: 1;
    width: 34px;
    max-width: 100%;
}
.hide { visibility: hidden; }
.relative { position: relative; }
.marg-top { margin-top: var(--basic-pad); }
.marg-left { margin-left: var(--basic-pad); }
.pad-bot { padding-bottom: var(--basic-pad-sm); }
.marg-top-sm { margin-top: var(--basic-pad-sm); }
.marg-top-lg { margin-top: var(--basic-pad-lg); }
.center-horiz{ margin: auto; }
.display-height-calc{ height: calc(var(--h2) * var(--line-height)); }
.bar-width { width: var(--bar-width); }
.uv0 { filter: invert(97%) sepia(68%) saturate(7439%) hue-rotate(128deg) brightness(97%) contrast(87%); }
.uv1 { filter: invert(82%) sepia(50%) saturate(688%) hue-rotate(37deg) brightness(96%) contrast(90%);}
.uv2 { filter: invert(65%) sepia(32%) saturate(3961%) hue-rotate(350deg) brightness(101%) contrast(102%);}
.uv3 { filter: invert(21%) sepia(78%) saturate(7469%) hue-rotate(346deg) brightness(104%) contrast(101%);}
.uv4 { filter: invert(20%) sepia(71%) saturate(5451%) hue-rotate(307deg) brightness(105%) contrast(103%);}

.basic-vert-padding{
    padding-top: var(--basic-pad);
    padding-bottom: var(--basic-pad);
}
.basic-horiz-padding{
    padding-left: var(--basic-pad);
    padding-right: var(--basic-pad);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex { display: flex; }
.flex-h {
    display: flex;
    justify-content: start;
}
.flex-h-spread {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.flex-v {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.flex-v-left {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: start;
}
.flex-h-left {
    display: flex;
    /* flex-direction: column; */
    justify-content: stretch;
    align-items: start;
}
.grow{ flex-grow: 1; }

.horiz-ul {
    display: flex;
}

.widgets {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.bar-frame {
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--color5);
    position: relative;
}
.bar-fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--color0);
    border: 1px solid var(--color4);
    height: 0;
    transition: height 1.2s;
    transition-timing-function: cubic-bezier(0.37, 0.19, 0, 1);
}

.box-hold {
    width: 100%;
    aspect-ratio: 1;
}
.pan {
    cursor:grab;
}
.panning {
    cursor: grabbing;
}
.pan-box {
    /* CALCULATE THISSSS */
    /* margin-left: 90px; */
    /*  */
    
    position: relative;
    width: 2000px;
    height: 100%;
}

.pill {
    width: 100px;
    padding: 0.8rem;
    background-color: var(--color1);
    border: 1px solid var(--color4);
    border-radius: 100px;
}

.crop {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cent {
    position: absolute;
    top: -2%;
    left: 0%;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pill:hover {
    background-color: var(--color0);
    box-shadow: 0px 4px 12px #00000031;
}


.selected {
    background-color: var(--color0);
    border: 4px solid var(--accent);
}

.gradient {
    z-index: -1;
    background: radial-gradient(circle,rgb(75, 182, 119) 0%, rgba(87, 199, 133, 1) 24%, var(--color1) 25%);
    filter: blur( 50px );
    transition: filter 1.5s;
    transition-timing-function: cubic-bezier(0.37, 0.19, 0, 1);
    position: absolute;
    background-size: 200% 200%;
    animation: sway 15s ease infinite;
    height: 100%;
    width: 100%;
}
.blur {
    opacity: 0.4;
    filter: blur( 30px );
    transition: filter 1.5s, opacity .4s;
    transition-timing-function: cubic-bezier(0.37, 0.19, 0, 1);
}
.reveal{
    opacity: 1;
    filter: blur( 0px );
}

.non {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/* .test-slide {
    transform: translateX( -165px );
} */

@keyframes sway {
    0% {
        background-position: 50% 48%;
        background-size: 150% 150%;

    }
    50% {
        background-position: 52% 50%;
        background-size: 200% 200%;
    }
    100% {
        background-position: 50% 48%;
        background-size: 150% 150%;

    }
}